<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}" />
    <title>Student Registration System - a Spring Boot demo webapp for CS425-SWE</title>
</head>
<body>
    <th:block layout:fragment="content">
        <h3>Welcome to ABC Medical Clinic, featuring:</h3>
        <ul>
            <li>Patient Management</li>
            <li>Make Appointment</li>
            <li>Online Chat for Support</li>
            <li>Bilingual (English and Spanish support)</li>
            <li>Authorization and Role Management</li>
        </ul>
    </th:block>

    <th:block layout:fragment="footer"></th:block>
    
</body>
</html>